body {
    font-family: 'Arial', sans-serif;
    background-color: #e3e0f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-box {
    background: white;
    border-radius: 15px;
    padding: 40px;
    position: relative;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #5a4ae3;
}

.form-box {
    position: relative;
    margin-bottom: 20px;
}

.form-box input, .form-box select {
    width: 87%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center; /* Center the input text */
}

.form-box label {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    display: inline-block;  /* Ensure label is inline */
    margin-bottom: 5px;
}

.required {
    color: #999;
    font-weight: bold;
    display: inline; /* Keep the asterisk on the same line */
    margin-left: 2px; /* Spacing between label and asterisk */
}

/* Center the date input text and adjust placeholder color */
input[type="date"] {
    width: 87%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center; /* Center the input text */
}

input[type="date"]::placeholder {
    color: #999; /* Adjust to match 'Already have an account?' */
    text-align: center; /* Ensure the placeholder is centered */
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #5a4ae3;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #4d41c9;
}

.login-link {
    text-align: center;
    width: 95%;
    padding: 10px;
    background-color: #fafafd;
    border: 1px solid #ececec;
    color: #999;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #ebeaf8;
}
